/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
body{
  position: relative;
}

.scoreboard{
  text-align: center;
  font-family: "Courier New";
  font-size: 2em;
}

svg{
  display: block;
  border: 2px solid black;
  height: 500px;
  width: 500px;

  position: absolute;
  top: 50%;
  left: 50%;
  margin: 100px 0 0 -250px; 
 
} 

.player{
  background-image: url('alon1.png');
  background-size: 100% 100%;
  position: absolute;
}

.enemy{
  background-image: url('leslie1.png');
  background-size: 100% 100%;
  position: absolute;
}